.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 font-family: 'Roboto', sans-serif;

}
button,
input,
select,
option {
 font-family: 'Roboto', sans-serif;

}
